@model Core.Models.Calle

<table class="table table-bordered">
	<thead>
	<tr>
		<th>Desde</th>
		<th>Hasta</th>
        <th>Vereda</th>
        <th>Número</th>
        <th>&nbsp;</th>
	</tr>
	</thead>
	<tbody>
        @Html.Partial("ZonaTableRow", Model)
	</tbody>
</table>

<button id="buttonNuevaZona" class="btn" @if (Model.zonas.Count != 0 && !Model.Alturas){ <text>disabled="disabled"</text> }>Nueva <i class="icon-plus-sign"></i></button>
