<?xml version="1.0" encoding="utf-8"?>
<configuration>
<connectionStrings>
    <add name="MongoDB" connectionString="server=10.0.2.2;database=justicia" />
    <add name="AikeEntities" connectionString="metadata=res://*/;provider=System.Data.SqlClient;provider connection string=&quot;data source=morena;initial catalog=aike;integrated security=True;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>
