@{  
    ViewBag.Title = "Administrar zonas";
}

<div class="hero-unit">
  <h1>Administración de zonas</h1>
  <p>Bienvenido a la vista de administración de zonas, esta vista le permite modificar las zonas para la notificación de cedulas judiciales, para ver los resultados de los cambios ingrese en el buscador de zonas haciendo clic aquí.</p>
</div>

@section Scripts {
    
}